html body {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    align-items: center;
    justify-content: center;
}

.hidden {
    visibility: hidden;
}

.green {
    background-color: green;
    color: white;
}

.red {
    background-color: red;
    color: white;
}

td {
    border: 1px solid gray
}

table {
    padding: 20px;
}